<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /corePHPApps/php_rest_app/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>